body {
	background-color: white;
	font-family: 'Source sans pro', Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: 400;
}

main {
	width: 100%;
}

img {
	width: 70vw;
	max-width: 300px;
	height: auto;
}

h2 {
	font-size: 2.0em;
	font-weight: 600;
}

h3 {
	font-size: 1.3em;
	font-weight: 400;
}

p {
	line-height: 1.2em;
	margin: .6rem 0;
}

li {
	list-style: none;
}


.block {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.logo {
	font-weight: 600;
	font-size: 1.5em;
}

.input1 {
	height: 3.0em;
	margin-bottom: .8em;
}

.input2 {
	height: 11.0em;
	margin-bottom: .8em;
}

.button {
    background-color: #00AAFF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.light {
	background-color: #e5e5e5;
	border: 1px solid #cecece;
}

.dark {
	background-color: #636363;
	border: 1px solid black;
	color: white;
}

.white {
	border: 1px solid #cecece;
}

.black {
	background-color: #000000;
	border: 1px solid black;
	color: #e5e5e5;
}