/* START from wire frame*/

body {
	background-color: white;
	font-family: 'Source sans pro', Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: 400;
}

main {
	width: 100%;
}

/*img {
	width: 70vw;
	max-width: 300px;
	height: auto;
}*/

h2 {
	font-size: 2.6em;
	font-weight: 600;
}

h3 {
	font-size: 2.0em;
	font-weight: 400;
}

h4 {
	font-size: 1.6em;
	font-weight: 400;
}

p {
	line-height: 1.2em;
	margin: .6rem 0;
}

li {
	list-style: none;
}



.logo {
	font-weight: 600;
	font-size: 1.5em;
}

.input1 {
	width: 100%;
	height: 3.0em;
	margin-bottom: .8em;
}

.input2 {
	width: 100%;
	height: 11.0em;
	margin-bottom: .8em;
}

.button {
    background-color: #00AAFF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* END from wire frame */




/* BEGIN NEW LAYOUT */


a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

/* Link (unvisited): The default state that a link resides in*/
a:link {
	color:#ACC4D6;
}
/* Visited: A link when it has already been visited*/
a:visited {
	color:#356981;
}
/*A link when it has been focused (for example moved to by a keyboard user using the Tab key or similar*/
a:focus {

}
/* A link when it is being hovered over by a user's mouse pointer, */
a:hover {
	color: #E4F4FB;
}
/*A link when it is being activated (e.g. clicked on)*/
a:active {
	color: #0B53D2;
}


.wrapper {
	max-width: 100%;
	padding: 3rem 6vw 3rem 6vw;
}

.wrapper-header {
	max-width: 100%;
	padding: 0 6vw;	
}


/* HEADER mobile first */

.header {
	/*background-color: #000000;*/
}

.logo {
	width: 80vw;
	max-width: 300px;

}

.header-grid {
	max-width: 800px;
	margin: 0 auto;

}

.nav-links {
    margin: 0 -10px;
    padding: 0;
    list-style: none;
	display: flex;
	flex-direction: column;

}

.nav-links li {
    margin: 0 10px;
    padding: 10px 0;
}



@media only screen and (min-width: 700px) {
	.nav-links {
		flex-direction: row;
	}
	.nav-links li {
    padding: 10px;
}
	.nav-links li:first-child {
    margin-right: auto;
}
}	

/* ALERT mobile first */

.alert-headline {
	grid-area: alert-headline;
}

.alert-candidates {
	grid-area: alert-candidates;
}

.alert-issues {
	grid-area: alert-issues;
}

.alert {
	background-color: #243C54;
	color: #ffffff;
}

.alert-grid {
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"alert-headline" 
	"alert-candidates" 
	"alert-issues";
	grid-row-gap: 3rem;
	grid-column-gap: 0;
}

@media only screen and (min-width: 400px) {

	.alert-grid {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		"alert-headline  alert-headline" 
		"alert-candidates  alert-issues";
		grid-row-gap: 0;
		grid-column-gap: 3rem;
	}
}

/* COVER mobile first */

#cover {
	
}

.cover {
	background: 
		url(../images/medina-courhouse-duotone3.jpg) no-repeat;
	background-size: cover;
	background-position: center, center;
	height: 70vh;
	max-width: 100%;
}



/* SIGNUP mobile first */

.signup-mission {
	grid-area: signup-mission;
	text-align: center;
}

.signup-mission p {
	font-size: 1.2em;
	line-height: 1.7em;
}

.signup-form {
	grid-area: signup-form;
}

.signup-grid {
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"signup-mission" 
	"signup-form"; 
	grid-row-gap: 3rem;
}

.signup {
	background: 
	url(../images/map-light3.jpg) no-repeat;
	background-size: cover;
	background-position: center, center;
	height: 100%;
}

@media only screen and (min-width: 600px) {

	.signup-grid {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		"signup-mission signup-form"  
		"signup-mission signup-form";
		grid-column-gap: 3rem;
	}
}

/* EVENTS mobile first */

.host-list {
	grid-area: host-list;
}

.host-grid {
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"host-list"; 
	grid-row-gap: 3rem;
}


/* CONTACT US mobile first */

.contact-form {
	grid-area: contact-form;
}

.contact-grid {
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"contact-form"; 
	grid-row-gap: 3rem;
}

/* FOOTER mobile first */

#footer {
	background-color: #243C54;
}

.footer-copyright {
	text-align: center;
	font-size: .6em;
}

.footer-disclaimer {
	border: .5px solid #ffffff;
	text-align: center;
	margin: 1em 0 0 0;
	padding: 0.8rem;
}

.footer-about {
	grid-area: footer-about;
}

.footer-links {
	grid-area: footer-links;
}

.footer-copyright {
	grid-area: footer-copyright;
}

.footer-disclaimer {
	grid-area: footer-disclaimer;
}

.footer-grid {
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"footer-about" 
	"footer-links"
	"footer-disclaimer"
	"footer-copyright"; 
	grid-row-gap: 3rem;
	color: #ffffff;
}

@media only screen and (min-width: 600px) {

	.footer-grid {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		"footer-about  footer-links"  
		"footer-about  footer-links"
		"footer-disclaimer  footer-disclaimer"
		"footer-copyright  footer-copyright";
		grid-column-gap: 3rem;
	}
}


/* CADIDATES mobile first */

.candidates-list {
	grid-area: candidates-list;
}

.candidates-grid {
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"candidates-list"; 
	grid-row-gap: 3rem;
}

.candidates {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(260px,1fr));
}

.candidates li {
	background-color: #f2f2f2;
	padding: 10px;
}

/*
.image150 {
	width: 150px;
	height: 200px;
	background-color: grey;
}

.image250 {
	width: 250px;
	height: 300px;
	background-color: grey;
}

.image350 {
	width: 350px;
	height: 400px;
	background-color: grey;
}
.image_medium-em {
	width: 14em;
	height: 300px;
	background-color: grey;
}

.image_large-em {
	width: 20em;
	height: 400px;
	background-color: grey;
}
*/


/* ISSUES mobile first */

.issues-list {
	grid-area: issues-list;
}

.issues-grid {
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"issues-list"; 
	grid-row-gap: 3rem;
}


/* EVENTS mobile first */

.events-list {
	grid-area: events-list;
}

.events-grid {
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"events-list"; 
	grid-row-gap: 3rem;
}

/* Constant Contact signup form style adjustments */

.ctct-gdpr-text {
	display: none;
}

.ctct-form-footer {
	display: none;
}

.grecaptcha-badge {
	display: none;
}

